name: Weather Readme

on:
  workflow_dispatch:
  schedule:
    - cron: "0 7,18,22 * * *"

jobs:
  update-readme:
    name: WeatherBullet Temperature
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: setup shell
        run: |
          export LANG=en_US.UTF-8
          export LC_ALL=en_US.UTF-8
          # just to check if my shebang path is still correct
          echo readlink -f $(which sh)

      - name: update readme
        run: sh .scripts/weather-readme.sh

      - name: setup git config
        run: |
          git config user.name github-actions[bot]
          git config user.email github-actions[bot]@users.noreply.github.com

      - name: commit and push
        run: |
          git add README.md || true
          git commit -m "Updated weather-readme bullet with new data" || true
          git push origin main || true
